
# R related project folders
*.Rproj
/.Rproj.user

# raw data
*.mat

# raw data folders
/data/raw/*/

# codebook
data/codebook/*.xlsx
data/codebook/*.csv

# temporary to prevent a mistake later
/data/processed 

# R data files
*.RData
*.Rhistory

# Drake cache
*.drake
*.DS_Store
*.png
